.title {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.08em;
  color: #000;
}

.titleDescr {
  color: #e99414;
}

.requestItem {
  outline: 1px solid black;
  padding: 5px;
  &:not(:last-child) {
    margin-bottom: 7px;
  }
}
